nodered
[{"id":"60c2d0ca.934f5","type":"tab","label":"Shelly","disabled":false,"info":""},{"id":"33c221da.8fc02e","type":"comment","z":"60c2d0ca.934f5","name":"DHCP","info":"shellyuni-8CAAB54BF963\t192.168.100.174\t-\t8C:AA:B5:4B:F9:63\nobczero\t192.168.100.197\t-\tE4:5F:01:59:25:57\nshellyrgbw2-E724A4\t192.168.100.199\t-\t3C:61:05:E7:24:A4\nshelly1-483FDA9427B6\t192.168.100.202\t-\t48:3F:DA:94:27:B6","x":70,"y":40,"wires":[]},{"id":"6680967b.cb80d8","type":"debug","z":"60c2d0ca.934f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"dd001976.4310e8","type":"shelly-rgbw2","z":"60c2d0ca.934f5","hostname":"192.168.100.199","description":"Shelly RGBW","ledStat":true,"pollinginterval":5000,"mode":"color","x":560,"y":640,"wires":[[]]},{"id":"8913eed6.7378e","type":"inject","z":"60c2d0ca.934f5","name":"Turn On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"on","payload":"{\"turn\":\"on\"}","payloadType":"json","x":140,"y":300,"wires":[["d50eba63.6abe58"]]},{"id":"5ee2796e.cbcd48","type":"inject","z":"60c2d0ca.934f5","name":"Turn Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"off","payload":"{\"turn\":\"off\"}","payloadType":"json","x":140,"y":340,"wires":[["d50eba63.6abe58"]]},{"id":"d50eba63.6abe58","type":"shelly-switch","z":"60c2d0ca.934f5","hostname":"192.168.100.202","description":"Shelly 1","pollinginterval":5000,"x":400,"y":280,"wires":[["6680967b.cb80d8"]]},{"id":"2a91648b.b3861c","type":"ui_switch","z":"60c2d0ca.934f5","name":"","label":"switch on/off","tooltip":"","group":"5987213d.4d36b","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"{\"turn\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"turn\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":130,"y":240,"wires":[["d50eba63.6abe58"]]},{"id":"50e4ea69.f5e6a4","type":"template","z":"60c2d0ca.934f5","name":"Rot","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"red\" :{{payload}}}","output":"json","x":310,"y":580,"wires":[["dd001976.4310e8"]]},{"id":"421d2da3.f71ee4","type":"template","z":"60c2d0ca.934f5","name":"Grün","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"green\" :{{payload}}}","output":"json","x":311,"y":622,"wires":[["dd001976.4310e8"]]},{"id":"ba833951.3b6ca8","type":"template","z":"60c2d0ca.934f5","name":"Blau","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"blue\" :{{payload}}}","output":"json","x":313,"y":669,"wires":[["dd001976.4310e8"]]},{"id":"907742d2.41dd4","type":"template","z":"60c2d0ca.934f5","name":"Weiss","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"white\" :{{payload}}}","output":"json","x":309,"y":718,"wires":[["dd001976.4310e8"]]},{"id":"537f6cf3.c284e4","type":"template","z":"60c2d0ca.934f5","name":"Gain","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"gain\" :{{payload}}}","output":"json","x":300,"y":765,"wires":[["dd001976.4310e8"]]},{"id":"a565e6cd.35ed08","type":"ui_slider","z":"60c2d0ca.934f5","name":"","label":"Rot","tooltip":"","group":"e7e21534.6f8628","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"255","step":"1","className":"","x":170,"y":580,"wires":[["50e4ea69.f5e6a4"]]},{"id":"c3cb606b.df578","type":"ui_slider","z":"60c2d0ca.934f5","name":"","label":"Grün","tooltip":"","group":"e7e21534.6f8628","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"255","step":"1","className":"","x":171,"y":622,"wires":[["421d2da3.f71ee4"]]},{"id":"9d21d1f7.81a69","type":"ui_slider","z":"60c2d0ca.934f5","name":"","label":"Blau","tooltip":"","group":"e7e21534.6f8628","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"255","step":"1","className":"","x":173,"y":669,"wires":[["ba833951.3b6ca8"]]},{"id":"5259a21a.141ffc","type":"ui_slider","z":"60c2d0ca.934f5","name":"","label":"Weiss","tooltip":"","group":"e7e21534.6f8628","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"255","step":"1","className":"","x":169,"y":718,"wires":[["907742d2.41dd4"]]},{"id":"610a695d.83efc8","type":"ui_slider","z":"60c2d0ca.934f5","name":"","label":"Gain","tooltip":"","group":"e7e21534.6f8628","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":0,"max":"100","step":"1","className":"","x":150,"y":760,"wires":[["537f6cf3.c284e4"]]},{"id":"5dc5aaaf.336034","type":"ui_text","z":"60c2d0ca.934f5","group":"e7e21534.6f8628","order":2,"width":0,"height":0,"name":"","label":"Effekt","format":"{{msg.payload}}","layout":"col-center","className":"","x":190,"y":460,"wires":[]},{"id":"18a08356.ef2ecd","type":"inject","z":"60c2d0ca.934f5","name":"Turn Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"off","payload":"{\"turn\":\"off\"}","payloadType":"json","x":460,"y":480,"wires":[["dd001976.4310e8"]]},{"id":"e20612a0.bd122","type":"inject","z":"60c2d0ca.934f5","name":"Turn On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"on","payload":"{\"turn\":\"on\"}","payloadType":"json","x":460,"y":420,"wires":[["dd001976.4310e8"]]},{"id":"a70ac5f8.447168","type":"ui_switch","z":"60c2d0ca.934f5","name":"","label":"switch on/off","tooltip":"","group":"e7e21534.6f8628","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"{\"turn\":\"on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"turn\":\"off\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":170,"y":520,"wires":[["dd001976.4310e8"]]},{"id":"5987213d.4d36b","type":"ui_group","name":"S1","tab":"14b4ea1c.928926","order":1,"disp":false,"width":"5","collapse":false,"className":""},{"id":"e7e21534.6f8628","type":"ui_group","name":"RGBW","tab":"14b4ea1c.928926","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"14b4ea1c.928926","type":"ui_tab","name":"Switch","icon":"dashboard","disabled":false,"hidden":false}]
